.chat-container {
    background-color:rgb(132, 184, 233);
    height:100%;
    width:100%;
    display: block;
}

.top{
    display: block;
    width:100%;
    height:8%;
    float:left;
}

.bottom{
    display:block;
    width:100%;
    height:92%;
    float:left;
}

.lower-left {
    display: block;
    float:left;
    width: 25%;
    height: 100%;
    
}

.lower-right{
    display: block;
    float:right;
    width:75%;
    height: 100%;
}

.upper{
    display:block;
    float:left;
    height:80%;
    width:100%;
}

.lower{
    float:right;
    height:20%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-pic{
    height:30%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}